
<section class="speakers-full-width">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="col-12">
				<!-- Speaker Slider -->
				<div class="speaker-slider">
					<div class="speaker-image">
						<img src="images/speakers/speaker-full-one.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay text-center">
							<h5>GEORGE G. HERNANDEZ</h5>
							<p>CEO Rancom Motor</p>
							<ul class="list-inline">
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="speaker-image">
						<img src="images/speakers/speaker-full-two.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay text-center">
							<h5>GEORGE G. HERNANDEZ</h5>
							<p>CEO Rancom Motor</p>
							<ul class="list-inline">
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="speaker-image">
						<img src="images/speakers/speaker-full-three.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay text-center">
							<h5>GEORGE G. HERNANDEZ</h5>
							<p>CEO Rancom Motor</p>
							<ul class="list-inline">
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="speaker-image">
						<img src="images/speakers/speaker-full-four.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay text-center">
							<h5>GEORGE G. HERNANDEZ</h5>
							<p>CEO Rancom Motor</p>
							<ul class="list-inline">
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="speaker-image">
						<img src="images/speakers/speaker-full-five.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay text-center">
							<h5>GEORGE G. HERNANDEZ</h5>
							<p>CEO Rancom Motor</p>
							<ul class="list-inline">
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="speaker-image">
						<img src="images/speakers/speaker-full-one.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay text-center">
							<h5>GEORGE G. HERNANDEZ</h5>
							<p>CEO Rancom Motor</p>
							<ul class="list-inline">
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="speaker-image">
						<img src="images/speakers/speaker-full-two.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay text-center">
							<h5>GEORGE G. HERNANDEZ</h5>
							<p>CEO Rancom Motor</p>
							<ul class="list-inline">
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="speaker-image">
						<img src="images/speakers/speaker-full-three.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay text-center">
							<h5>GEORGE G. HERNANDEZ</h5>
							<p>CEO Rancom Motor</p>
							<ul class="list-inline">
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="speaker-image">
						<img src="images/speakers/speaker-full-four.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay text-center">
							<h5>GEORGE G. HERNANDEZ</h5>
							<p>CEO Rancom Motor</p>
							<ul class="list-inline">
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="speaker-image">
						<img src="images/speakers/speaker-full-five.jpg" alt="speaker" class="img-fluid">
						<div class="primary-overlay text-center">
							<h5>GEORGE G. HERNANDEZ</h5>
							<p>CEO Rancom Motor</p>
							<ul class="list-inline">
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-facebook"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-twitter"></i></a></li>
								<li class="list-inline-item"><a href="https://themefisher.com/"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
