<app-shared>

<!--============================
=            Banner            =
=============================-->

<section class="banner bg-banner-one overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Content Block -->
				<div class="block">
					<!-- Coundown Timer -->
					<div class="timer"></div>
					<h1>Business</h1>
					<h2 class="mt-5">Conference 2023</h2>
					<h6 class="mt-5">02-05 July 2023 California</h6>
					<!-- Action Button -->
					<a routerLink="/event" class="btn btn-white-md">get ticket now</a>
				</div>
			</div>
		</div>
	</div>
</section>
	
<!--====  End of Banner  ====-->

<!--===========================
=            About            =
============================-->

<section class="section about">
	<div class="container">
		<div class="row">
			<section  class="col-lg-4 col-md-6 align-self-center left-animation">
				<div class="image-block bg-about">
					<img class="img-fluid" src="./assets/images/logo-color.png" alt="">
				</div>
			</section>
			<section class="col-lg-8 col-md-6 align-self-center right-animation" >
				<div class="content-block">
					<h2>About The <span class="alternate">Evento</span></h2>
					<div class="description-one">
						<p>
							the evento website offers tools and functionalities for organizers to manage their events efficiently. This may include features like attendee tracking, registration management, email communication, attendee check-in systems, and analytics to monitor event performance
						</p>
					</div>
				
					<ul class="list-inline">
						
						<li class="list-inline-item">
							<a routerLink="/events" class="btn btn-transparent-md">Show All Events</a>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</section>

<!--====  End of About  ====-->

<!--==============================
=            Speakers            =
===============================-->
<app-speakers></app-speakers>

<!--====  End of Speakers  ====-->

<!--==============================
=            Schedule            =
===============================-->

<app-schedule></app-schedule>

<!--====  End of Schedule  ====-->


<!--==============================
=            Sponsors            =
===============================-->

<section class="sponsors section bg-sponsors overlay-white">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Our <span class="alternate">Sponsors</span></h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor incididunt ut labore dolore</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<!-- Title -->
				<div class="sponsor-title text-center">
					<h5>Platinum Sponsors</h5>
				</div>
				<div class="block text-center">
					<!-- Sponsors image list -->
					<ul class="list-inline sponsors-list">
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="./assets/images/sponsors/pt-spon-two.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="./assets/images/sponsors/pt-spon-two.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="./assets/images/sponsors/pt-spon-three.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="./assets/images/sponsors/pt-spon-four.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
					</ul>
				</div>
				<!-- Title -->
				<div class="sponsor-title text-center">
					<h5>Gold Sponsors</h5>
				</div>
				<div class="block text-center">
					<!-- Sponsors image list -->
					<ul class="list-inline sponsors-list">
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="./assets/images/sponsors/gl-spon-one.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="./assets/images/sponsors/gl-spon-two.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
						<li class="list-inline-item">
							<div class="image-block text-center">
								<a href="#">
									<img src="./assets/images/sponsors/gl-spon-three.png" alt="sponsors-logo" class="img-fluid">
								</a>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
	</div>
</section>

<!--====  End of Sponsors  ====-->

<!--================================
=            News Events            =
=================================-->

<app-new-events></app-new-events>
<!--====  End of News Events  ====-->
<app-subscription></app-subscription>
</app-shared>
