<app-shared>
    <br>
    <br>

    <br>
  <section class="page-title bg-title overlay-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>{{ eventDetails.title }}</h3>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="news section">

        <div class="container">
            <div class="block">
                <div class="row">
                    <article class="blog-post single">
                        <div class="image-block">
                            <img [src]="image" class="img-fluid" alt="speaker">
                        </div>
                        <div class="post-content">
                            <div class="date">
                                <h4><span>{{ eventDetails.eventDate | date: 'MMM d' }}</span></h4>

                            </div>
                            <div class="post-title">
                                <h3>{{eventDetails.location}}</h3>
                            </div>
                            <div class="post-meta">
                            </div>
                        </div>
                    </article>
                    <div class="col-lg-3 col-md-6 align-self-center text">
                        <div class="content-block">
                            <div class="name text">
                                <h3>
                                    {{eventDetails.title}}
                                </h3>
                            </div>
                           
                            <div class="details">
                                <p>{{eventDetails.description}}</p>
                            </div>

                        </div>
                    </div>
                    
                </div>
              <app-event-speakers></app-event-speakers>
                <div *ngIf="eventDate < currentDateTime ; else elseBlock">
                    <app-event-reviews></app-event-reviews>
                  </div>
                  <ng-template #elseBlock><app-event-tickets></app-event-tickets></ng-template>
                
            </div>
        </div>
    
    </section> -->

    
<section class="section single-speaker">
	<div class="container">
		<div class="block">
			<div class="row">
				<div class="col-lg-5 col-md-6 align-self-md-center">
					<div class="image-block">
                        <img [src]="image" class="img-fluid rounded" alt="speaker">
					</div>
				</div>
				<div class="col-lg-7 col-md-6 align-self-center">
					<div class="content-block">
						<div class="name">
							<h3>  {{eventDetails.title}}</h3>
						</div>
						<div class="profession">
							<p>{{eventDetails.location}}</p>
						</div>
						<div class="details">
							<p>{{eventDetails.description}}</p>
						</div>
						<div class="social-profiles">
							<h5>{{ eventDetails.eventDate | date: 'MMM d' }}</h5>
							<ul class="list-inline social-list">
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-linkedin"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-skype"></i></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><i class="fa fa-pinterest-p"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
        <br>
        <br>
        
        <app-event-speakers></app-event-speakers>
        <div *ngIf="eventDate < currentDateTime ; else elseBlock">
            <app-event-reviews></app-event-reviews>
          </div>
          <ng-template #elseBlock><app-event-tickets></app-event-tickets></ng-template>
	</div>
</section>
    </app-shared>