<div class="comments">
    <h5>Comments ({{reviews.length}})</h5>
    <!-- Comment -->
    <div class="scrollable-section">
        <div class="media comment" *ngFor="let r of reviews;">
            <img [src]="getImage(r.user.image)" alt="image"
                style="width: 100px; height: 100px;">
            <div class="media-body">
                <h6>{{r.user.name}}</h6>
                <ul class="list-inline">
                    <li class="list-inline-item"><span class="fa fa-calendar"></span>{{r.reviewDate
                        | date:'medium'}}
                    </li>
                    <!-- <li class="list-inline-item"><a href="#">Reply</a></li> -->
                </ul>
                <p>
                    {{r.review}}
                </p>

            </div>
        </div>
    </div>
</div>
<app-review-form></app-review-form>