<app-shared>

    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div class="banner">



        <!--**********************************
            Sidebar start
        ***********************************-->
        <app-side-bar></app-side-bar>

        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" (ngSubmit)="submitForm()" enctype="multipart/form-data" [formGroup]="eventForm">
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="title">Title
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="title" name="title"
                                                    placeholder="Enter a username.." formControlName="title">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="description">Description
                                            </label>
                                            <div class="col-lg-6">
                                                <textarea class="form-control" id="description" name="description"
                                                    rows="5" placeholder="What would you like to see?"
                                                    formControlName="description"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="category">Category
                                            </label>
                                            <div class="col-lg-6">
                                                <select class="form-control" [(ngModel)]="selectedCategory"
                                                    id="category" name="category" formControlName="category">
                                                    <option *ngFor="let category of categeories" [value]="category">
                                                        {{category}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="time">Event Time <span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-6">
                                                <form [formGroup]="dateTime">
                                                    <mat-form-field>
                                                        <mat-label>Date & Time</mat-label>
                                                        <mat-datetimepicker-toggle [for]="datetimePicker"
                                                            matSuffix></mat-datetimepicker-toggle>
                                                        <mat-datetimepicker #datetimePicker type="datetime"
                                                            mode="portrait"></mat-datetimepicker>
                                                        <input matInput formControlName="datetimeCtrl"
                                                            [matDatetimepicker]="datetimePicker" required
                                                            autocomplete="false" />
                                                    </mat-form-field>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="speakers">Speakers
                                            </label>
                                            <div class="col-lg-8">
                                                <div *ngFor="let choice of speakers; let i=index" class="col-md-2">
                                                    <label>
                                                      <input type="checkbox" [value]="choice.id" (change)="onCheckChange($event)">
                                                      {{choice.name}}
                                                    </label>
                                                  </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="PLATINUMTicket">PLATINUM
                                                Ticket</label>
                                            <div class="col-lg-3">
                                                <input type="number" min="0" formControlName="ticketPrice" class="form-control"
                                                    id="STANDARDTicket" name="STANDARDTicket" placeholder="price"
                                                    [(ngModel)]="ticketPrice['PLATINUM']"
                                                    (input)="updateTicketPrice('PLATINUM', $event)">
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="number" min="1" formControlName="ticketNumber" class="form-control"
                                                    id="STANDARDTicket" name="STANDARDTicket" placeholder="number"
                                                    [(ngModel)]="ticketNumber['PLATINUM']"
                                                    (input)="updateTicketNumber('PLATINUM', $event)">
                                            </div>
                                            <label class="col-lg-4 col-form-label" for="STANDARDTicket">STANDARD
                                                Ticket</label>
                                            <div class="col-lg-3">
                                                <input type="number" min="0" formControlName="ticketPrice" class="form-control"
                                                    id="STANDARDTicket" name="STANDARDTicket" placeholder="price"
                                                    [(ngModel)]="ticketPrice['STANDARD']"
                                                    (input)="updateTicketPrice('STANDARD', $event)">
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="number" min="1" formControlName="ticketNumber" class="form-control"
                                                    id="STANDARDTicket" name="STANDARDTicket" placeholder="number"
                                                    [(ngModel)]="ticketNumber['STANDARD']"
                                                    (input)="updateTicketNumber('STANDARD', $event)">
                                            </div>
                                            <label class="col-lg-4 col-form-label" for="STARTERTicket">STARTER
                                                Ticket</label>
                                            <div class="col-lg-3">
                                                <input type="number" min="0" formControlName="ticketPrice" class="form-control"
                                                    id="STANDARDTicket" name="STANDARDTicket" placeholder="price"
                                                    [(ngModel)]="ticketPrice['STARTER']"
                                                    (input)="updateTicketPrice('STARTER', $event)">
                                            </div>
                                            <div class="col-lg-3">
                                                <input type="number" min="1" formControlName="ticketNumber" class="form-control"
                                                    id="STANDARDTicket" name="STANDARDTicket" placeholder="number"
                                                    [(ngModel)]="ticketNumber['STARTER']"
                                                    (input)="updateTicketNumber('STARTER', $event)">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="location">Location
                                            </label>
                                            <div class="col-lg-6">
                                                <input type="text" class="form-control" id="location" name="location"
                                                    placeholder="Location" formControlName="location">
                                            </div>
                                        </div>
                                        <!-- <div>
                                            <google-map height="400px" width="750px" [center]="center" [zoom]="zoom"
                                                (mapClick)="moveMap($event)" (mapMousemove)="move($event)">
                                            </google-map>

                                            <div>Latitude: {{display?.lat}}</div>
                                            <div>Longitude: {{display?.lng}}</div>
                                        </div> -->
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="online">Avilable Online
                                            </label>
                                            <div class="col-lg-6">
                                                <div class="radio mb-3">
                                                    <label>
                                                        <input type="radio" name="online" formControlName="isOnline"
                                                            value="0">No</label>
                                                </div>
                                                <div class="radio mb-3">
                                                    <label>
                                                        <input type="radio" name="online" formControlName="isOnline"
                                                            value="1">Yes</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-lg-4 col-form-label" for="image">Event
                                                Image
                                            </label>
                                            <div class=" mt-3 col-md-6">
                                                <input type="file" accept="image/png, image/gif, image/jpeg"
                                                    formControlName="image" (change)="onImageSelected($event)"
                                                    class="form-control" name="image" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-lg-8 ml-auto">
                                                <button  class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
    </div>
</app-shared>