<div class="comment-form">
    <button (click)="toggleSection()" class="btn btn-main-md" [disabled]="isReviewed">Leave A Comment</button>
<div *ngIf="showSection">
    
    <div [formGroup]="reviewForm" class="row">
        <div class="col-12">
            <textarea  [class.is-valid]="!reviewForm.controls['Review'].errors" formControlName="Review" class="form-control main" name="comment" id="comment" rows="10"
                placeholder="Your Review"></textarea>
                <div *ngIf="reviewForm.controls['Review'].errors&& (reviewForm.controls['Review'].dirty || reviewForm.controls['Review'].touched) ">
                    <small *ngIf="reviewForm.controls['Review'].errors?.['required']" class="form-text  text-danger">Enter Your Review</small>
        
                </div>
        </div>
        <div class="col-12">
            <!-- how to know the event of this review -->
            <button [disabled]="reviewForm.invalid" class="btn btn-main-md" type="submit" (click)="addReview(1)">Submit Now</button>
        </div>
    </div>
</div>