<app-shared>
    <section class="page-title bg-title overlay-dark event-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6" *ngFor="let s of speakers;">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <img [src]="getImage(s.image)" class="rounded-circle" alt="">
                                <h5 class="mt-3 mb-1">{{s.name}}</h5>
                                <p class="m-0">{{s.jobTitle}}</p>
                                <!-- <a href="javascript:void()" class="btn btn-sm btn-warning">Send Message</a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <!-- Pagination -->
                    <nav class="d-flex justify-content-center">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="prev">
                                    <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                                    <span class="sr-only">prev</span>
                                </a>
                            </li>
        
                             <li class="page-item " *ngFor="let number of  getNumberRange(pageNumbers);
                      let i = index;">
                                <a class="page-numbers" (click)="setPageNumber(i)">{{ number }}</a>
                            </li> 
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</app-shared>