
<!--==============================================
=            Call to Action Subscribe            =
===============================================-->

<section class="cta-subscribe bg-subscribe overlay-dark">
	<div class="container">
		<div class="row">
			<div class="col-md-6 mr-auto">
				<!-- Subscribe Content -->
				<div class="content">
					<h3>Subscribe to Our <span class="alternate">Newsletter</span></h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusm tempor</p>
				</div>
			</div>
			<div class="col-md-6 ml-auto align-self-center">
				<!-- Subscription form -->
				<div [formGroup]="subscribeForm">
					<div class="col-lg-8 col-md-12">
                        <input [class.is-valid]="!subscribeForm.controls['Email'].errors" formControlName="Email" type="email"  class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">                      
                          <div *ngIf="subscribeForm.controls['Email'].errors&& (subscribeForm.controls['Email'].dirty || subscribeForm.controls['Email'].touched) ">
                            <small *ngIf="subscribeForm.controls['Email'].errors?.['required']" class="form-text  text-danger">invalid Email</small>
                
                        </div>
					</div>
					<div class="col-lg-4 col-md-12">
						<div class="subscribe-button">
							<button class="btn btn-main-md"  type="button" (click)="subscribe()">Subscribe</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of Call to Action Subscribe  ====-->