<section class="section schedule">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>Event <span class="alternate">Schedule</span></h3>
					<p>Program Highlights: Explore the Event Schedule</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="schedule-tab">
					<ul class="nav nav-pills text-center">
					  <li class="nav-item">
					    <a class="nav-link active" href="#today" data-toggle="pill" (click)="getTableData(today)">
					    	Today
					    	<span>{{ today }}</span>
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link"  href="#tomorrow" data-toggle="pill" (click)="getTableData(tomorrowDate)">
							Tomorrow 
					    	<span>{{ tomorrowDate }}</span>
					    </a>
					  </li>
					  <li class="nav-item">
					    <a class="nav-link" href="#after" data-toggle="pill" (click)="getTableData(afterTomorrowDate)">
							The Day After
					    	<span>{{ afterTomorrowDate }}</span>
					    </a>
					  </li>
					</ul>
				</div>
				<div class="schedule-contents bg-schedule">
					<div class="tab-content" id="pills-tabContent">
					  <div class="tab-pane fade show active schedule-item" id="today">
					  	<!-- Headings -->
					  	<ul class="m-0 p-0">
					  		<li class="headings">
					  			<div class="time">Time</div>
					  			<div class="speaker">Event</div>
								<div class="subject">Category</div>
					  			<div class="venue">Venue</div>

					  		</li>
					  		<!-- Schedule Details -->
							
					  		<li  class="image-row" *ngFor="let event of events" class="schedule-details">
					  			<div class="block">
					  				<!-- time -->
							  		<div class="time">
							  			<i class="fa fa-clock-o"></i>
							  			<span class="time">{{event.time}}</span>
							  		</div>
							  		<!-- Speaker -->
							  		<div class="speaker">
										<div *ngIf=event.image>
											<img [src]="'data:image/jpeg;base64,' + event.image" class="img-fluid" alt="event Image">
										    <span class="name">{{event.title}}</span>
										</div>
									
							  		</div>
							  		<!-- category -->
							  		<div class="subject">{{event.category}}</div>
							  		<!-- Venue -->
							  		<div class="venue">
										<p *ngIf="event.online; else elseBlock">online</p>
												<ng-template #elseBlock>
												<p> On-Premise</p>
												</ng-template>
									</div>
					  			</div>
					  		</li>
					  	</ul>
					  </div>
					  <div class="tab-pane fade schedule-item" id="tomorrow">
						<ul class="m-0 p-0">
							<li class="headings">
								<div class="time">Time</div>
								<div class="speaker">Event</div>
							  <div class="subject">Category</div>
								<div class="venue">Venue</div>

							</li>
							<!-- Schedule Details -->
							<li  class="image-row"*ngFor="let event of events" class="schedule-details">
								<div class="block">
									<!-- time -->
									<div class="time">
										<i class="fa fa-clock-o"></i>
										<span class="time">{{event.time}}</span>
									</div>
									<!-- Speaker -->
									<div class="speaker">
									  <div *ngIf=event.image>
										  <img [src]="'data:image/jpeg;base64,' + event.image" class="img-fluid" alt="event Image">
										  <span class="name">{{event.title}}</span>
									  </div>
								  
									</div>
									<!-- category -->
									<div class="subject">{{event.category}}</div>
									<!-- Venue -->
									<div class="venue">
										<p *ngIf="event.online; else elseBlock">online</p>
												<ng-template #elseBlock>
												<p> On-Premise</p>
												</ng-template>
									</div>
								</div>
							</li>
						</ul>
					  </div>
					  <div class="tab-pane fade schedule-item" id="after">
						<ul class="m-0 p-0">
							<li class="headings">
								<div class="time">Time</div>
								<div class="speaker">Event</div>
							  <div class="subject">Category</div>
								<div class="venue">Venue</div>

							</li>
							<!-- Schedule Details -->
							<li  class="image-row"*ngFor="let event of events" class="schedule-details">
								<div class="block">
									<!-- time -->
									<div class="time">
										<i class="fa fa-clock-o"></i>
										<span class="time">{{event.time}}</span>
									</div>
									<!-- Speaker -->
									<div class="speaker">
									  <div *ngIf=event.image>
										  <img [src]="'data:image/jpeg;base64,' + event.image" class="img-fluid" alt="event Image">
										  <span class="name">{{event.title}}</span>
									  </div>
								  
									</div>
									<!-- category -->
									<div class="subject">{{event.category}}</div>
									<!-- Venue -->
									<div class="venue">
										<p *ngIf="event.online; else elseBlock">online</p>
												<ng-template #elseBlock>
												<p> On-Premise</p>
												</ng-template>
									</div>
								</div>
							</li>
						</ul>
					  </div>
					</div>
				</div>
				<div class="col-12 text-center">
					<!-- Pagination -->
					<nav class="d-flex justify-content-center">
					  <ul class="pagination">
						  <li class="page-item">
						  <a class="page-link" href="#" aria-label="prev">
							<span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
							<span class="sr-only">prev</span>
						  </a>
						</li> 

						<li class="page-item " *ngFor="let num of getNumberRange(Pagination)">
							<a class="page-link" (click)="handleButtonClick(num,$event)" [ngClass]="{ 'active': activeButton === num }" href="#">{{num}}</a>
						</li>
						<li class="page-item">
						  <a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
							<span class="sr-only">Next</span>
						  </a>
						</li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

</section>

