.event-header{
	margin-top: 50px;
}
.iqoniq-pagination{
    float: left;
    margin: 0 0 30px;
}
.text-center .iq-caption-title:before{
	margin: 0 auto;
	right: 0;
}
.iqoniq-pagination .page-numbers{
    width: 33px;
    height: 33px;
    color: #717171;
    font-size: 14px;
    line-height: 32px;
    margin: 0 3px 0 0;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    border: 1px solid #d7d8d8;
}
