<app-shared>
<div class="row" style="margin: 50px;">
  <div class="col-75">
    <div class="container">
      
        <div class="row">
          <div class="col-50">
            <h3>Event Name:</h3>
            <label for="fname">{{eventDetails.title}}</label>
            <h3>Date:</h3>
            <label for="email"> {{eventDate}}</label>
            <h3>location:</h3>
            <label for="location"> {{eventDetails.location}}</label>
            <h3>price:</h3>
            <label for="city">{{tickets[this.ticketId-1].price}}</label>
         
          </div> 
          <div class="col-50">
           
            <h3>Ticket Type</h3>
            <label for="cname">{{tickets[this.ticketId-1].ticket.type}}</label>
           
            <!-- <select  id="select-ticket" required  [(ngModel)]="tickets[this.ticketId-1].ticket.type"
            (change)="changeTotalPrice()">
              <option>Ticket Type</option>
              <option>PLATINUM</option>
              <option>STANDARD</option>
              <option>STARTER</option>
             
            </select> -->
            <h3>Number Of Tickets</h3>
            <!-- <label for="cname">Number Of Tickets</label> -->
            <input type="number" id="cname" name="cardname" value="1" min="1" [(ngModel)]="quantity" (change)="changeTotalPrice()">
            <h3>Total price:</h3>
            <label for="ccnum" >{{totalPrice}}</label>
        
          </div>
          
        </div>
        
        
    <div #paypalRef></div>
    </div>
  </div>

  
</div>


</app-shared>