.page-title{
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:24px;
}
.text {
    font-size: 24px; /* Set the font size */
    font-weight: bold; /* Set the font weight */
  }