<!-- <p>event-details works!</p> -->
<!-- <a routerLink="/event-details/1">about us</a> -->

<section class="page-title bg-title overlay-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>{{ eventDetails.title }}</h3>
                </div>
                <ol class="breadcrumb justify-content-center p-0 m-0">
                    <!-- <li class="breadcrumb-item"><a href="index.html">{{ eventDetails.homeLink }}</a></li> -->
                    <li class="breadcrumb-item active">{{eventDetails.title}}</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="news section">
    <div class="container">
        <div class="row mt-30">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="block">
                    <!-- Article -->
                    <article class="blog-post single">
                        <div class="image-block">
                            <img src="images/speakers/single-speaker.jpg" class="img-fluid" alt="speaker">
                        </div>
                        <div class="post-content">
                            <div class="date">
                                <h4>20<span>May</span></h4>
                            </div>
                            <div class="post-title">
                                <h3>Elementum purus id ultrices.</h3>
                            </div>
                            <div class="post-meta">
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>