<!-- <p>event-details works!</p> -->
<!-- <a routerLink="/event-details/1">about us</a> -->

<!--========================================
=            Navigation Section            =
=========================================-->
<nav class="navbar main-nav border-less fixed-top navbar-expand-lg p-0">
    <div class="container-fluid p-0">
      <!-- logo -->
      <a class="navbar-brand" href="index.html">
        <img src="./assets/images/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown active">
            <a class="nav-link" href="/home">Home </a>
           
          </li>
          <li class="nav-item">
            <a class="nav-link" href="speakers.html">Speakers
              <span>/</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#!" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i><span>/</span></a>
            <!-- Dropdown list -->
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/eventDetails/1">About Us</a></li>
              <li><a class="dropdown-item" href="">Single Speaker</a></li>
              <!-- <li><a class="dropdown-item" href="event-details.html">Single Speaker</a></li> -->

              <li><a class="dropdown-item" href="gallery.html">Gallery</a></li>
              <li><a class="dropdown-item" href="gallery-two.html">Gallery-02</a></li>
              <li><a class="dropdown-item" href="testimonial.html">Testimonial</a></li>
              <li><a class="dropdown-item" href="pricing.html">Pricing</a></li>
              <li><a class="dropdown-item" href="/login">Login</a></li>
              <li><a class="dropdown-item" href="404.html">404</a></li>
                      
              <li class="dropdown dropdown-submenu dropright">
                <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0301" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>
      
                <ul class="dropdown-menu" aria-labelledby="dropdown0301">
                  <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>
                  <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="schedule.html">Schedule<span>/</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sponsors.html">Sponsors<span>/</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#!" data-toggle="dropdown">News <i class="fa fa-angle-down"></i><span>/</span>
            </a>
            <!-- Dropdown list -->
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="news.html">News without sidebar</a></li>
              <li><a class="dropdown-item" href="news-right-sidebar.html">News with right sidebar</a></li>
              <li><a class="dropdown-item" href="news-left-sidebar.html">News with left sidebar</a></li>
              <li><a class="dropdown-item" href="news-single.html">News Single</a></li>
  
              <li class="dropdown dropdown-submenu dropleft">
                <a class="dropdown-item dropdown-toggle" href="#!" id="dropdown0501" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sub Menu</a>
      
                <ul class="dropdown-menu" aria-labelledby="dropdown0501">
                  <li><a class="dropdown-item" href="index.html">Submenu 01</a></li>
                  <li><a class="dropdown-item" href="index.html">Submenu 02</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
        <a href="contact.html" class="ticket">
          <img src="images/icon/ticket.png" alt="ticket">
          <span>Buy Ticket</span>
        </a>
      </div>
    </div>
  </nav>
  
  <!--====  End of Navigation Section  ====-->
  



<section class="page-title bg-title overlay-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title">
                    <h3>{{ eventDetails.title }}</h3>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="news section">
    <!-- Article -->

    <!-- <section class="section single-speaker"> -->
        <div class="container">
            <div class="block">
                <div class="row">
                    <article class="blog-post single">
                        <div class="image-block">
                            <img src="images/speakers/single-speaker.jpg" class="img-fluid" alt="speaker">
                        </div>
                        <div class="post-content">
                            <div class="date">
                                <!-- <h4>{{eventDetails.eventDate}}<span>May</span></h4> -->
                                <h4><span>
                                    {{ eventDetails.eventDate | date: 'MMM d' }}

                                </span></h4>

                            </div>
                            <div class="post-title">
                                <h3>{{eventDetails.location}}</h3>
                            </div>
                            <div class="post-meta">
                            </div>
                        </div>
                    </article>
                    <div class="col-lg-3 col-md-6 align-self-center text">
                        <div class="content-block">
                            <div class="name text">
                                <h3>
                                    {{eventDetails.title}}
                                </h3>
                            </div>
                            <!-- <div class="profession text">
                                                <h3>
                                                    {{eventDetails.title}}
                                                </h3>
                                            </div> -->
                            <div class="details">
                                <p>{{eventDetails.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    <!-- </section> -->
    </section>

    <section class="speakers-full-width">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12">
                    <!-- Speaker Slider -->
                    <div class="speaker-slider">
                        <!-- ***************************************************************************** -->

                        <div class="speaker-slider slick-initialized slick-slider">
                            <button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">
                                Previous
                            </button>
					
					
                            <!-- <div class="slick-list draggable" style="padding: 0px 50px;">
                                <div class="slick-track" style="opacity: 1; width: 6670px; transform: translate3d(-2900px, 0px, 0px);">
                                    <div class="speaker-image slick-slide slick-cloned" *ngFor= "let speaker of speakers" tabindex="-1" style="width: 290px;" data-slick-index="-3" id="" aria-hidden="true">
                                    <img [src]="speaker.image" alt="{{ speaker.name }}"  class="img-fluid">
                                    <div class="primary-overlay text-center">
                                        <h5>{{ speaker.name }}</h5>
                                        <p>{{ speaker.jobTitle }}</p>
                                        <p>{{ speaker.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> -->
                    <div class="speaker-image slick-slide" tabindex="-1" *ngFor= "let eventSpeaker of speakers" style="width: 290px;"  data-slick-index="5" aria-hidden="true">
                        <img scr = "./20230301_154558.jpg" alt="{{ eventSpeaker.name }}"  class="img-fluid">
                        <div class="primary-overlay text-center">
                            <h5>{{ eventSpeaker.name }}</h5>
                            <p>{{ eventSpeaker.jobTitle }}</p>
                            <p>{{ eventSpeaker.description }}</p>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                       
                    </div> 
                    <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">
                        Next
                    </button>
            </div>
            </div>
            </div>
            </div>
        </div> 
    </section>
    <!-- ---------------------------------------------------------------------
     
     <div class="speaker-image slick-slide" tabindex="-1" style="width: 290px;" data-slick-index="8" aria-hidden="true">
        <img src="images/speakers/speaker-full-four.jpg" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div> -->
    <!-- ----------------------------------------------------------------------------------- -->
   
    <!-- <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button> -->
    <!-- --------------------------------------------------------------------------------------------------------------- -->
    <!-- <div class="speaker-image slick-slide slick-cloned" tabindex="-1" style="width: 290px;" data-slick-index="-2" id="" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="hola" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide slick-cloned" tabindex="-1" style="width: 290px;" data-slick-index="-1" id="" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide" tabindex="-1" style="width: 290px;" data-slick-index="0" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide" tabindex="-1" style="width: 290px;" data-slick-index="1" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide" tabindex="-1" style="width: 290px;" data-slick-index="2" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide" tabindex="-1" style="width: 290px;" data-slick-index="3" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide" tabindex="-1" style="width: 290px;" data-slick-index="4" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide" tabindex="-1" style="width: 290px;" data-slick-index="5" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide" tabindex="-1" style="width: 290px;" data-slick-index="6" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide" tabindex="-1" style="width: 290px;" data-slick-index="7" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide slick-current slick-active slick-center" tabindex="0" style="width: 290px;" data-slick-index="8" aria-hidden="false">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="0"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="0"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="0"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide slick-active" tabindex="0" style="width: 290px;" data-slick-index="9" aria-hidden="false">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="0"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="0"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="0"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide slick-cloned" tabindex="-1" style="width: 290px;" data-slick-index="10" id="" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide slick-cloned" tabindex="-1" style="width: 290px;" data-slick-index="11" id="" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide slick-cloned" tabindex="-1" style="width: 290px;" data-slick-index="12" id="" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide slick-cloned" tabindex="-1" style="width: 290px;" data-slick-index="13" id="" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide slick-cloned" tabindex="-1" style="width: 290px;" data-slick-index="14" id="" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide slick-cloned" tabindex="-1" style="width: 290px;" data-slick-index="15" id="" aria-hidden="true">
        <img src="../../images-test/brooke-glaser-sugar-skull-2056.webp" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide slick-cloned" tabindex="-1" style="width: 290px;" data-slick-index="16" id="" aria-hidden="true">
        <img src="images/speakers/speaker-full-two.jpg" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide slick-cloned" tabindex="-1" style="width: 290px;" data-slick-index="17" id="" aria-hidden="true">
        <img src="images/speakers/speaker-full-three.jpg" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide slick-cloned" tabindex="-1" style="width: 290px;" data-slick-index="18" id="" aria-hidden="true">
        <img src="images/speakers/speaker-full-four.jpg" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div><div class="speaker-image slick-slide slick-cloned" tabindex="-1" style="width: 290px;" data-slick-index="19" id="" aria-hidden="true">
        <img src="images/speakers/speaker-full-five.jpg" alt="speaker" class="img-fluid">
        <div class="primary-overlay text-center">
            <h5>GEORGE G. HERNANDEZ</h5>
            <p>CEO Rancom Motor</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div> -->