<app-shared>
    <section class="banner">

    <div >

        <!--**********************************
            Sidebar start
        ***********************************-->
        <app-side-bar></app-side-bar>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

          
           <app-country></app-country>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

    </div>
    </section>

</app-shared>
