<app-shared>
  
  <section class="banner">

    <!--**********************************
        Sidebar start
    ***********************************-->
    <app-side-bar></app-side-bar>

    <div id="main-wrapper">
   
      <div class="content-body">
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
   
        <div class="container-fluid">
         
          <div class="row">
            <!-- /# column -->
             <!-- /# column -->
             <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <app-revenue></app-revenue>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <!-- /# column -->
             <!-- /# column -->
             <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Total Revenue Analysis</h4>
                  <app-total-revenue></app-total-revenue>
                </div>
              </div>
            </div>
           
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <app-attendance></app-attendance>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <!-- /# column -->
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <app-country></app-country>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <app-gender></app-gender>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <div class="active-member">
                    <div class="table-responsive">
                      <app-most-popular></app-most-popular>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--**********************************
              Content body end
          ***********************************-->
        </div>
      </div>

    </div>
  </section>

</app-shared>
