<app-shared>
    <section class="page-title bg-title overlay-dark">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="title">
                        <h3>{{ eventDetails.title }}</h3>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="news section">
        <!-- Article -->

        <!-- <section class="section single-speaker"> -->
        <div class="container">
            <!-- <div class="block"> -->
            <div class="row">
                <article class="blog-post single container-size">
                    <div class="image-block">
                        <img [src]="image" class="img-fluid" alt="speaker">
                    </div>
                    <div class="post-content">
                        <div class="date">
                            <h4>
                                <span>{{ eventDetails.eventDate | date: 'MMM d' }}</span>
                            </h4>
                        </div>
                        <div class="post-title">
                            <h3>{{eventDetails.location}}</h3>
                        </div>
                    </div>
                </article>


                <div class="col-lg-3 col-md-6 align-self-center text">
                    <div class="content-block container-size-title">
                        <div class="name text">
                            <h3>
                                {{eventDetails.title}}
                            </h3>
                        </div>
                        <div class="details">
                            <p>{{eventDetails.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ****************************************************************************************** -->

            <!-- <app-event-speakers></app-event-speakers> -->

            <p>event-speakers works!</p>
            <!-- <section> -->
                <div class="speaker-image slick-slide" 
                    style="width: 290px;">
                    <!-- <img scr="./20230301_154558.jpg" alt="name"> -->
                    <div>
                        <h5>name</h5>
                        <p>jobTitle</p>
                        <p>description</p>
                    </div>
                </div>
            <!-- </section> -->

            <!-- ************************************************************************** -->
            <div *ngIf="eventDate < currentDateTime ; else elseBlock">


                <app-event-reviews></app-event-reviews>
            </div>

            <ng-template #elseBlock>
                <app-event-tickets>

                </app-event-tickets>
            </ng-template>

        </div>
        <!-- </div>     -->
    </section>

</app-shared>















<!-- **************************************************************************************************** -->
<!-- <section>
    <div class="speaker-image slick-slide" tabindex="-1" *ngFor="let eventSpeaker of speakers"
        style="width: 290px;" data-slick-index="5" aria-hidden="true">
        <img scr="./20230301_154558.jpg" alt="{{ eventSpeaker.name }}" class="img-fluid">
        <div class="text-center">
            <h5>{{ eventSpeaker.name }} hollaaa</h5>
            <p>{{ eventSpeaker.jobTitle }}</p>
            <p>{{ eventSpeaker.description }}</p>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i
                            class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i
                            class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://themefisher.com/" tabindex="-1"><i
                            class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</section> -->
