.page-title{
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:24px;
}
.text {
    font-size: 24px; /* Set the font size */
    font-weight: bold; /* Set the font weight */
  }
  .speakers-full-width {
    overflow: hidden;
  }
  .speakers-full-width .speaker-slider .speaker-image {
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  .speakers-full-width .speaker-slider .speaker-image img {
    width: 100%;
  }
  .speakers-full-width .speaker-slider .speaker-image .primary-overlay {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff6600;
    opacity: 0.85;
    transition: 0.3s ease;
  }
  .speakers-full-width .speaker-slider .speaker-image .primary-overlay h5,
  .speakers-full-width .speaker-slider .speaker-image .primary-overlay p,
  .speakers-full-width .speaker-slider .speaker-image .primary-overlay i {
    color: #fff;
  }
  .speakers-full-width .speaker-slider .speaker-image .primary-overlay h5,
  .speakers-full-width .speaker-slider .speaker-image .primary-overlay p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  .speakers-full-width .speaker-slider .speaker-image .primary-overlay h5 {
    padding-top: 25%;
    margin-bottom: 10px;
  }
  .speakers-full-width .speaker-slider .speaker-image .primary-overlay h5,
  .speakers-full-width .speaker-slider .speaker-image .primary-overlay ul,
  .speakers-full-width .speaker-slider .speaker-image .primary-overlay p {
    transition: 0.7s ease;
    transform: translate(0, 30px);
    opacity: 0;
  }
  .speakers-full-width .speaker-slider .speaker-image .primary-overlay p {
    margin-bottom: 10px;
  }
  .speakers-full-width .speaker-slider .speaker-image .primary-overlay ul .list-inline-item:not(:last-child) {
    margin-right: 10px;
  }
  .speakers-full-width .speaker-slider .speaker-image:hover .primary-overlay {
    top: 0;
  }
  .speakers-full-width .speaker-slider .speaker-image:hover .primary-overlay h5,
  .speakers-full-width .speaker-slider .speaker-image:hover .primary-overlay p,
  .speakers-full-width .speaker-slider .speaker-image:hover .primary-overlay ul {
    transform: translate(0, 0);
    opacity: 1;
  }
  .speakers-full-width .speaker-slider .slick-prev {
    left: 60px;
  }
  @media (max-width: 767px) {
    .speakers-full-width .speaker-slider .slick-prev {
      left: 20px;
    }
  }
  .speakers-full-width .speaker-slider .slick-prev:before {
    content: "\f104";
  }
  .speakers-full-width .speaker-slider .slick-next {
    right: 60px;
  }
  @media (max-width: 767px) {
    .speakers-full-width .speaker-slider .slick-next {
      right: 20px;
    }
  }
  .speakers-full-width .speaker-slider .slick-next:before {
    content: "\f105";
  }
  .speakers-full-width .speaker-slider .slick-prev,
  .speakers-full-width .speaker-slider .slick-next {
    background: #fff;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    z-index: 100;
  }
  @media (max-width: 1024px) {
    .speakers-full-width .speaker-slider .slick-prev,
  .speakers-full-width .speaker-slider .slick-next {
      height: 35px;
      width: 35px;
    }
  }
  .speakers-full-width .speaker-slider .slick-prev:hover:before,
  .speakers-full-width .speaker-slider .slick-next:hover:before {
    color: #ff6600;
  }
  .speakers-full-width .speaker-slider .slick-prev:before,
  .speakers-full-width .speaker-slider .slick-next:before {
    color: #ff6600;
    font-family: FontAwesome;
  }
  /* ----------------------------------------------------------------------------------------- */
   .slide-gallery {
    position: relative;
    width: 100%;
    height: 400px;  /*Adjust height as needed */
  }
  
  .slides-container {
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .slides-container > div {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
  }
  
  .controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
  .container-size{

    max-width: 50%;

  }
  .container-size-title{
    margin-left: 50%;
    margin-bottom: 12cm;
  }
  
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: 'â†';
}
[dir='rtl'] .slick-prev:before
{
    content: 'â†’';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: 'â†’';
}
[dir='rtl'] .slick-next:before
{
    content: 'â†';
}

/* Dots */
/* .slick-dotted.slick-slider
{
    margin-bottom: 30px;
} */

/* .slideConfig = {  
  "slidesToShow": 3,  
  "slidesToScroll": 3,  
  "dots": true,  
  "infinite": true  
};  */

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: 'â€¢';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
/* ***************************************************************************** */


#slider {
	overflow: hidden;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider figure {
	width:100%;
	position: relative;
	animation: 10s slider infinite;
}

#slider figure:hover {
	 animation-play-state: paused; 
  /* enable for pause on hover */ 
}
#slider figure img {
	width: 33.333333333%;
	height : 50%;
	float: left;
}
