<!-- <div class="gallery-wrapper row">
    <div class="gallery-item col-lg-4 col-md-6" data-groups="[&quot;meeting&quot;]" *ngFor="let e of events;">
      <div class="image-block">
        <div class="image">
          <img [src]="getImage(e.image)" alt="gallery-image" class="img-fluid" class="nav-link">
          <div class="primary-overlay">
            <a [routerLink]="'/event/' + e.id+ '/eventDetails'"><i><b>>></b></i></a>
          </div>
        </div>
        <div class="content text-center">
          <h5><a>{{e.title}}</a></h5>
          <p>{{e.description}} </p>
          <div>
            <a  [routerLink]="'/event/' + e.id+'/eventDetails'">Go to Event Details</a>      
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="slider">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
  
    <div class="slides">
      <div class="slide">
        <img src="image1.jpg" alt="Image 1">
      </div>
      <div class="slide">
        <img src="image2.jpg" alt="Image 2">
      </div>
      <div class="slide">
        <img src="image3.jpg" alt="Image 3">
      </div>
    </div>
  
    <div class="navigation">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
    </div>
  </div> -->