@import url(https://fonts.googleapis.com/css?family=Istok+Web);
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
20% { left: 0%; }
}
* {
  box-sizing: border-box;
}
body, figure { 
  margin: 0; 
  background:scroll;
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 100%;
  height: 50%;
  overflow: hidden; 
}
figure.slider { 
  position: relative; 
  width: 500%;
  height: 70%;
  font-size: 0; 
  animation: 30s slidy infinite; 
}
figure.slider figure { 
  width: 20%; 
  height: 20%;
 display:inline-flex;  
  /*  position: inherit;  */
}
figure.slider img {
   width: 60%; height: 50%; 
  }
figure.slider figure figcaption{ 
  position:sticky; 
  /* bottom: 0; */
  background: rgba(0,0,0,0.4);
  color: #fff;
   width: 70%;
  font-size: 9rem; 
  padding: 9rem; 
}