
<section class="news section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h3>New <span class="alternate">Events</span></h3>
					<p> This section provides you information about the most recent events that you can attend, allowing you to stay up to date with your organization's activities.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div *ngFor="let event of events" class="col-lg-4 col-md-6 col-sm-8 col-10 m-auto">
				<div class="blog-post">
					<div class="post-thumb">
						<a routerLink="/eventDetails/1">
							<img  [src]="'data:image/jpeg;base64,' + event.image" alt="post-image" class="img-fluid">
						</a>
					</div>
					<div class="post-content">
						<div class="date">
							<h4>{{formatDate(event.date)}}</h4>
						</div>
						<div class="post-title">
							<h2><a href="news-single.html">{{event.title}}</a></h2>
						</div>
						<div class="post-meta">
							<ul class="list-inline">
								<li class="list-inline-item">
									<i class="fa fa-user-o"></i>
									<a href="#">Admin</a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>